<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="public/static/img/favicon.png">

    <title>用户注册</title>

    <!-- Bootstrap core CSS -->
    <link href="public/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/static/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="public/static/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="public/static/css/style.css" rel="stylesheet">
    <link href="public/static/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

  <body class="login-body">

    <div class="container">

      <form class="form-signin" action="index.html">
        <h2 class="form-signin-heading">立即注册</h2>
        <div class="login-wrap">
            <p>账号信息</p>
            <input type="text" class="form-control" maxlength="8" placeholder="请输入您的学号" autofocus>
            <input type="text" class="form-control" placeholder="名字" autofocus>
            <input type="text" class="form-control" maxlength="11" placeholder="电话号码" autofocus>
            <input type="text" class="form-control" placeholder="个人简介" autofocus>
            <div class="radios">
                <label class="label_radio col-lg-6 col-sm-6" for="radio-01">
                    <input name="sample-radio" id="radio-01" value="1" type="radio" checked /> 男
                </label>
                <label class="label_radio col-lg-6 col-sm-6" for="radio-02">
                    <input name="sample-radio" id="radio-02" value="1" type="radio" /> 女
                </label>
            </div>

            <!-- <p> Enter your account details below</p>
            <input type="text" class="form-control" placeholder="User Name" autofocus>
            <input type="password" class="form-control" placeholder="Password">
            <input type="password" class="form-control" placeholder="Re-type Password">
            <label class="checkbox">
                <input type="checkbox" value="agree this condition"> 我同意
            </label> -->
            <button class="btn btn-lg btn-login btn-block" type="submit">注册</button>

            <div class="registration">
                已经注册？
                <a class="" href="http://bookshare5.com/">
                    登录
                </a>
            </div>

        </div>

      </form>

    </div>


  </body>
</html>
